:root {
    --main-bg-color:  rgb(243, 242, 242);
    --secondary-bg-color: rgb(247, 247, 247);
    --main-font: Comfortaa;
    --main-font-color: rgb(108, 108, 108);
    --secondary-font-color:  #c8c8c8;
    --accent-font:  Kaushan Script;
    --accent-color: rgb(52, 118, 216);
}

body {
    background-color: var(--main-bg-color);
    color: var(--main-font-color);
    font-family: var(--main-font), sans-serif;
    display: flex;
    justify-content: center;
    font-size: 1.2em;
}

.container,
header,
nav,
main,
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}

h1,
.name,
#skills h3 {
    font-family: var(--accent-font), cursive;
}

#portfolio {
    background-color: var(--secondary-bg-color);
}

#portfolio h2,
nav ul {
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 900;
    list-style-type: none;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    line-height: 3em;
}

nav ul li {
    margin: 2%;
    min-width: 90%;
    background-color: white;
    text-align: center;
    border-radius: 10px;
    font-weight: 600;
}

img {
    max-width: 95%;
    margin-bottom: 20px;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0px;
}

article p,
section p {
    display: block;
    width: 85%;
    line-height: 1.5em;
}

#contact {
    padding-top: 50px;
}

#contact h2 {
    font-size: .8em;
    font-weight: 900;
    text-transform: uppercase;
}

a:link,
a:visited {
    padding: 7px;
    color: var(--main-font-color);
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    box-shadow: 0 5px 15px var(--accent-color);
    border-radius: 15px;
}

#skills {
    background-color: var(--secondary-bg-color);
}

#skills article ul {
    text-align: left;
}

footer {
    display: block;
    min-height: 100px;
    border-top: 2px solid var(--secondary-font-color);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.bottom-nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    font-weight: 900;
}

.bottom-nav ul {
    list-style-type: none;
}

.home,
.portfolio,
.skills,
.contact {
    display: none;
    text-transform: uppercase;
}

@media screen and (min-width: 760px) {
    header {
        max-width: 50%;
    }
    header h1 {
        margin-top: 50px;
    }

    nav ul {
       width: 500px;
       display: flex;
       flex-direction: row;
       align-items: center;
       justify-content: space-evenly;
   }

   nav ul li {
      margin: 0px;
      min-width: 20%;
      background-color: var(--main-bg-color);
   }

   #intro {
       text-align: left;
       display: flex;
       flex-direction: row-reverse;
       margin: 50px 0px;
   }
   #intro p {
       padding: 2%;
   }

   #portfolio {
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;
       justify-content: space-evenly;
   }

   #portfolio article {
       max-width: 40%;
       min-height: 450px;
   }

   img {
       margin: 0px;
   }

   #skills {
       margin-top: 10px;
       display: flex;
       flex-direction: row;
       justify-content: space-evenly;
       align-items: flex-start;
   }

   footer {
       width: 95%;
       height: 200px;
       justify-content: flex-start;
   }

   .bottom-nav {
       width: 100%;
   }


   .bottom-nav ul {
       min-width: 30%;
       display: flex;
       flex-direction: row;
       justify-content: space-evenly;
   }
   .bottom-nav .back {
       display: none;
   }

   .home,
   .portfolio,
   .contact,
   .skills,
   .name {
       padding-top: 25px;
       display: block;
       font-size: 0.8em;
   }

   
   #contact p:first-of-type {
        display: block;
        max-width: 40%;
    }
}

@media screen and (min-width: 1024px){
    
    header {
        min-width: 95%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    header nav {
        max-width: 40%;
    }

    #portfolio {
        padding-top: 3%;
    }
    #portfolio article {
        max-width: 30%;
        min-height: 450px;
    }

    #intro {
        justify-content: space-between;
        align-items: flex-start;
        min-width: 95%;
    }

    #intro p {
        display: block;
        max-width: 50%;
    }
    
    #intro img {
        padding-right: 5%;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-bg-color:  rgb(12, 12, 12);
        --secondary-bg-color: rgb(8, 8, 8);
        --main-font-color: rgb(147, 147, 147);
        --secondary-font-color:  rgb(55, 55, 55);
    }

    nav ul li {
        background-color: var(--secondary-font-color);
    }
}